.close {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  display: inline-block;
  margin-right: 50px;
  cursor: pointer;
  margin-top: 25px;
}

.button-container {
  @include flex-hor-center;
  @include flex-ver-center;
}

.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 24px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
.clear-button {
  display: block;
  margin: 10px auto;
}