.wish-item {
  @include flex-ver-center;
  justify-content: space-around;
  padding-top: 10px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.wish-item:nth-child(1) {
  border-top: 1px solid rgb(236, 236, 236);
}

.wish-information {
  display: flex;
  flex-direction: column;
}

.wish-item img {
  width: 50px;
  height: 90px;
}