.danger {
    color: red;
}

.beer-container {
    position: relative;
    padding: 20px;
}

.tool-tip {
    padding: 10px;
    display: inline;
    border: 1px solid black;
    border-radius: 4px;
}

.tool-tip:hover {
    display: inline;
}