@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body {
  font-family: "Roboto Mono", monospace;
}

.flex-center {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
}

@import "./elements/button";
@import "./components/wishlist";
@import "./components/product";
